<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>COVID TRACKER</title>
  <style>
 
  header{
      font-family: Arial, Helvetica, sans-serif;
      background-color: black;
      color: antiquewhite;
      padding: 30px;
  </style>
    
</head>
<body>
    <h1>BOOK TRACKER</h1>
    <p> This is a library assistant and tracker that helps readers identify and track books within the library storage.
      Helps identify books by their title, author, language and genre.


      <form>
       
        <label for="Genre">Genre:</label>
        <input type="text" id="genre" name="genre" placeholder="what genre do you prefer">
        <label for="Author">Author:</label>
        <input type="text" id="author" name="author" placeholder="who's your favorite author">
      </form>
     <button type="Submit">Submit</button>
    </p>

  {{results}}
  {{results1}}
  {{results2}}
  {{results3}}
  
</body>
</html>